<h1>Cart</h1>

<% if current_cart.items.any? %>
  <ul>
    <%= render :partial => 'carts/item', :collection => current_cart.items %>
  </ul>
  Total <span id="cart_total"><%= number_to_currency current_cart.total %></span>
<% else %>
  No products yet, <%= link_to 'go shop', root_path %>
<% end %>