<h1>Editing product</h1>

<% form_for(@product, :html => { :multipart => true }) do |f| %>
  <%= render :partial => f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>